.ea-main-container {
  background-color: #050505;
  /* font-weight: 700; */
}

.error-message {
  color: #d9534f; 
}

.ea-panel {
  background: #0b0b07;
  box-shadow: 4px 4px 24px rgba(0, 8, 20, 0.16);
}

.ea-vec-details-energy-percentage-value.added-consumption {
  background-color: orange; 
  color: white;
}

.ea-panel-header {
  color: #5e6600;
  border-color: #131400;
}

.ea-single-line-color {
  color: #373c41;
  fill: #373c41;
}

.ea-single-line-color.connected {
  color: #5e6600;
  fill: #5e6600;
}

.hasAdvice {
  color: #15686f ;
}

.isOperatorAction {
  color: #6E3E00 ;
}

.ea-single-line-bus.alternativeLineConnected {
  border-top-color: #5e6600 ;
}

.ea-single-line-bus:not(.alternativeLineConnected) {
  border-top-color: #373c41 ;
}

.ea-single-line-symbol-container {
  background-color: #070707;
}

.ea-single-line-producer-icon {
  background-color: #070707;
}

.ea-single-line-consumer-icon {
  background-color: #070707;
}

.single-line-element-producer-name {
  color: #5e6600;
}

.single-line-element-main-engine-name {
  color: #5e6600;
}

.ea-single-line-breaker-breaker-name {
  color: #5e6600;
}

.single-line-element-consumer-label {
  color: #5e6600;
}

.ea-top-bar {
  background-color: #0b0b07;
  /* font-weight: 700; */
}

.ea-top-bar-system-name {
  color: #5e6600;
}

.ea-top-bar-date-and-time {
  color: #252900;
}

.ea-navigation-button {
  color: #252900;
  background: #000000;
  box-shadow: 2px 2px 8px rgba(0, 8, 20, 0.16);
}

.ea-navigation-button-active {
  color: #5e6600;
  background-color: #050505;
}

.ea-palette-selector-palette-color {
  background: #050505;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ea-palette-selector-palette-label-color {
  color: #252900;
}

.ea-balance-profile-gauge-color-warning {
  stop-color: #252900;
  stop-opacity: 0.5;
}

.ea-palette-selector-selected-highlight-color {
  background: #131400;
  border: 1px solid #252900;
}

.ea-palette-selector-color-unselected {
  color: #231f20;
}

.ea-palette-selector-color-selected {
  color: #5e6600 ;
}

.ea-palette-selector-icon {
  color: #2f3300;
}

.ea-palette-selector-theme-text {
  color: #252900;
}

.ea-applied-advice-circle-color {
  border: 2px solid #252900;
}

.ea-applied-advice-circle-disabled-color {
  border: 2px solid #090904;
}

.ea-applied-advice-icon-color {
  color: #2f3300;
}

.ea-applied-advice-icon-disabled-color {
  color: #090904;
}

.ea-applied-advice-value-color {
  color: #2f3300;
}

.ea-applied-advice-value-disabled-color {
  color: #090904;
}

.ea-suggested-configuration-label-color {
  color: #252900;
}

.ea-suggested-configuration-icon-color {
  color: #131400;
}

.ea-suggested-configuration-status-color {
  color: #5e6600;
}

.ea-suggested-configuration-value-color {
  color: #131400;
}

.ea-suggested-configuration-advices-line-vertical-color {
  border-right: 1px solid #131400;
}

.ea-suggested-configuration-configs-item-icon-color {
  color: #2f3300;
}

.ea-suggested-configuration-configs-item-color {
  color: #5e6600;
}

.ea-suggested-configuration-configs-item-selected {
  border: 1px solid #5e6600;
}

.ea-energy-data-icon-color {
  color: #252900;
}

.ea-energy-data-remaining-value-curve-color {
  stroke: #000000;
}

.ea-energy-data-current-value-curve-color {
  stroke: #15686f;
}

.ea-energy-data-gauge-value-color {
  color: #5e6600;
}

.ea-energy-data-gauge-unit-color {
  color: #252900;
}

.ea-energy-data-gauge-label-color {
  color: #252900;
}

.ea-energy-data-gauge-min-value-color,
.ea-energy-data-gauge-max-value-color {
  color: #252900;
}

.ea-energy-data-item-label-color {
  color: #252900;
}

.ea-energy-data-item-data-color {
  color: #5e6600;
}

.ea-energy-data-item-unit-color {
  color: #5e6600;
}

.ea-energy-data-chart-label-color {
  color: #131400;
}

.ea-advice-message-color {
  color: #2f3300;
}

.ea-advice-wind,
.ea-advice-waves,
.ea-advice-current,
.ea-advice-notification-pop-up {
  border-color: #131400;
}

.ea-advice-name-of-weather-data-color {
  color: #252900;
}

.ea-advice-wind-icon-color,
.ea-advice-waves-icon-color,
.ea-advice-current-icon-color,
.ea-advice-notification-pop-up-color {
  color: #131400;
}

.ea-advice-weather-output-value-color {
  color: #252900;
}

.ea-advice-weather-output-unit-color {
  color: #131400;
}

.ea-system-health-indicator-icon {
  color: #5f1014;
}

.ea-system-health-indicator-popup {
  color: #5e6600;
  background: #050505;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #5f1014 ;
}

.ea-energy-consumption-power-loss-label-color {
  color: #5e6600;
}

.ea-energy-consumption-power-loss-value {
  font-weight: 400 ;
}

.ea-energy-consumption-power-loss-value-color {
  color: #6e3e00;
}

.ea-energy-consumer-progress-bar-color {
  fill: #15686f;
}

.ea-energy-consumer-progress-bar-bgcolor {
  fill: #000000;
}

.ea-energy-consumer-progress-bar-value-color {
  color: #5e6600;
}

.ea-energy-consumer-progress-bar-max-value-color {
  color: #252900;
}

.ea-energy-consumer-progress-bar-icon-color {
  color: #252900;
}

.ea-suggested-actions-header-color {
  color: #5e6600;
}

.ea-suggested-actions-button-text-color {
  color: #252900;
}

.ea-suggested-actions-button-text-selected {
  font-weight: 400 ;
}

.ea-suggested-actions-button-text-selected-color {
  color: #5e6600;
}

.ea-suggested-actions-button-line-selected-color {
  background: #15686f;
}

.ea-suggested-actions-buttons-border-color {
  border-bottom: 1px solid #131400;
}

.ea-suggested-actions-transit-mode-label-color {
  color: #5e6600;
}

.ea-suggested-actions-transit-mode-name-color {
  color: #0d5037;
}

.ea-suggested-actions-advice-deviation-color {
  color: #6E3E00;
}

.ea-suggested-actions-advices-container {
  font-weight: 400;
}

.ea-suggested-advice-icon-color {
  color: #252900;
}

.ea-suggested-advice-name-color {
  color: #5e6600;
}

.ea-suggested-advice-act-color {
  color: #5e6600;
}

.ea-suggested-advice-untick-color {
  stroke: #000000;
  fill: transparent;
}

.ea-suggested-advice-tick-color circle {
  fill: #15686f;
}

.ea-suggested-advice-tick-color path {
  fill: #000000;
}

.ea-conditions-item:not(:last-child) {
  border-right: 1px solid #131400;
}

.ea-conditions-container-color {
  background: #0b0b07;
  box-shadow: 4px 4px 24px rgba(0, 8, 20, 0.16);
}

.ea-conditions-item-header-color {
  color: #252900;
}

.ea-conditions-item-value-color {
  color: #5e6600;
  fill: #5e6600;
}

.ea-suggested-actions-container-scrollbar::-webkit-scrollbar-thumb {
  background: #252900;
  opacity: 0.4;
  border-radius: 4px;
  max-height: 80px;
}

.ea-suggested-actions-container-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5e6600;
}

.ea-savings-potential-time-elapsed-color {
  color: #252900;
}

.ea-savings-potential-label-color {
  color: #5e6600;
}

.ea-savings-potential-percent-color {
  color: #0d5037;
}

.ea-savings-potential-amount-color {
  color: #252900;
}

.ea-savings-potential-initial-color {
  color: #252900 ;
}

.ea-panel-main-header-color {
  color: #5e6600;
}

.ea-panel-sub-header-color {
  color: #5e6600;
}

.single-line-element-producer-fuel-savings {
  background: #1d2024;
  color: #15686F;
}

.single-line-element-consumer-fuel-savings {
  background: #1d2024;
  color: #5e6600;
}

.single-line-element-producer-losses {
  background: #1b1b1b;
  color: #6e3e00;
}

.single-line-element-consumer-losses {
  background: #1b1b1b;
  color: #6e3e00;
}

.single-line-element-consumer-hotel-load {
  background: #1d2024;
  color: #6d5900;
}

.single-line-element-consumer-hotel-load-line {
  border-top: 0.5px solid #5e6600;
}

.single-line-element-symbol-container {
  background: #0b0b07;
}

.ea-panel-hide-losses-label-color {
  color: #5e6600;
}

.kx-selector__switch .kx-selector__indicator {
  background: #121316 ;
  border: 1px solid #252900 ;
}

.kx-selector input:checked ~ .kx-selector__indicator {
  background: #121316;
}

.kx-selector input:checked ~ .kx-selector__indicator::before {
  background: #5e6600;
}

label#hideHotelDeviations.kx-selector input:checked ~ .kx-selector__indicator::before {
  background: #6d5900;
}

label#hideIssues.kx-selector input:checked ~ .kx-selector__indicator::before {
  background: #6d5900;
}

label#hideLosses.kx-selector input:checked ~ .kx-selector__indicator::before {
  background: #6e3e00;
}

.kx-selector input:not(:checked) ~ .kx-selector__indicator::before {
  background: #3b3f47;
}

.single-line-element-outher-circle-color {
  background-color: #0b0b07;
}

.single-line-outher-circle-color {
  background-color: #0b0b07;
}

.ea-current-savings-icon-color {
  color: #242900;
}

.ea-current-savings-icon-onhold-color {
  fill: #5E6600;
}

.ea-current-savings-label-color {
  color: #5e6600;
}

.ea-current-savings-completed-percent-color {
  color: #0d5037;
}

.ea-current-savings-completed-percent-negative {
  color: #6e3e00;
}

.ea-current-savings-completed-actions-color {
  color: #15686f;
}

.ea-current-savings-percent-circle-color {
  stroke: #000000;
}

.ea-current-savings-circle-border-color {
  stroke: #131400;
}

.ea-current-savings-inset-shadow-color {
  flood-color: rgba(0, 0, 0, 0.5);
}

.ea-current-savings-actions-circle-color {
  stroke: #000000;
}

.ea-current-savings-content-circle-color {
  color: #0b0b07;
}

.ea-current-savings-percent-curve-color {
  stroke: #0d5037;
}

.ea-current-savings-actions-curve-color {
  stroke: #15686f;
}

.ea-current-savings-with-actions-icon-color {
  color: #242900;
}

.ea-current-savings-with-actions-icon-onhold-color {
  fill: #5E6600;
}

.ea-current-savings-with-actions-label-color {
  color: #5e6600;
}

.ea-current-savings-with-actions-completed-percent-color {
  color: #0d5037;
}

.ea-current-savings-with-actions-completed-percent-negative {
  color: #6e3e00;
}

.ea-current-savings-with-actions-completed-actions-color {
  color: #15686f;
}

.ea-current-savings-with-actions-percent-circle-color {
  stroke: #000000;
}

.ea-current-savings-with-actions-circle-border-color {
  stroke: #131400;
}

.ea-current-savings-with-actions-inset-shadow-color {
  flood-color: rgba(0, 0, 0, 0.5);
}

.ea-current-savings-with-actions-actions-circle-color {
  stroke: #000000;
}

.ea-current-savings-with-actions-content-circle-color {
  color: #0b0b07;
}

.ea-current-savings-with-actions-percent-curve-color {
  stroke: #0d5037;
}

.ea-current-savings-with-actions-actions-curve-color {
  stroke: #15686f;
}

.ea-advice-log-text-color-thin {
  color: #252900;
}

.ea-advice-log-text-color-thick {
  color: #5e6600;
}

.ea-advice-log-buttons-border-color {
  border-bottom: 1px solid #131400;
}

.ea-advice-log-button-line-selected-color {
  background: #15686f;
}

.ea-advice-log-entry-selected-color {
  background: #070805;
}

.ea-advice-log-dot-active {
  background-color: #15686f;
}

.ea-advice-log-dot-inactive {
  background-color: #252900;
}

.ea-advice-log-dot-line-active {
  border-right: 1px solid #15686f;
}

.ea-advice-log-dot-line-inactive {
  border-right: 1px solid #252900;
}

.ea-advice-log-container-scrollbar::-webkit-scrollbar-thumb {
  background: #252900;
  opacity: 0.4;
  border-radius: 4px;
  max-height: 80px;
}

.ea-advice-log-container-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5e6600;
}

.ea-advice-log-progress-bar-color {
  background-color: #0d5037;
}

.ea-energy-consumer-progress-bar-color-hotel-load {
  fill: #6d5900;
}

.ea-advice-log-achieved-color {
  color: #0d5037;
}

.ea-advice-log-negative-color {
  color: #6e3e00;
}

.ea-advice-log-label-style {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #5e6600;
}

.ea-central-circle-carousel-arrow-color {
  stroke: #5e6600;
}

.ea-central-circle-carousel-nav-dot-color {
  background-color: #5e6600;
}

.ea-balance-profile-content-circle-color {
  color: #0b0b07;
}

.ea-balance-profile-icon-color {
  color: #252900;
}

.ea-balance-profile-label-color {
  color: #5e6600;
}

.ea-balance-profile-current-state-label-color-good {
  color: #0d5037;
}

.ea-balance-profile-current-state-label-color-bad {
  color: #6e3e00;
}

.ea-balance-profile-current-state-label-color-unavailable {
  color: #5e6600;
}

.ea-balance-profile-tick-icon-color {
  color: #0d5037;
}

.ea-balance-profile-actions-label-color {
  color: #15686f;
}

.ea-balance-profile-gauge-dark-color-1 {
  stop-color: #207257;
  stop-opacity: 0.12;
}

.ea-balance-profile-gauge-dark-color-2 {
  stop-color: #003840;
  stop-opacity: 0.12;
}

.ea-balance-profile-gauge-medium-color-1 {
  stop-color: #41ad6f;
  stop-opacity: 0.2;
}

.ea-balance-profile-gauge-medium-color-2 {
  stop-color: #207257;
  stop-opacity: 0.2;
}

.ea-balance-profile-gauge-bright-color-1 {
  stop-color: #41ad6f;
  stop-opacity: 0.3;
}

.ea-balance-profile-gauge-bright-color-2 {
  stop-color: #61e786;
  stop-opacity: 0.3;
}

.ea-balance-profile-gauge-label-color {
  color: #252900;
}

.ea-balance-profile-gauge-label-highlighted-color {
  color: #214639;
}

.ea-balance-profile-gauge-pointer-color {
  color: #0b0b07;
}

.ea-balance-profile-gauge-pointer-highlight-color-good {
  color: #214639;
}

.ea-balance-profile-gauge-pointer-highlight-color-bad {
  color: #6e3e00;
}

.ea-balance-profile-gauge-pointer-border-color {
  stroke: #0b0b07;
}

.ea-balance-profile-general-curve-breaker-color {
  stroke: #252900;
}

.ea-balance-profile-actions-gauge-open-bg-color {
  color: #252900;
  stroke: rgba(0, 0, 0, 0.16);
}

.ea-balance-profile-actions-gauge-closed-bg-color {
  stroke: #252900;
}

.ea-balance-profile-actions-gauge-curve-preview-color {
  color: rgba(21, 104, 111, 0.1);
  stroke: rgba(0, 0, 0, 0.16);
}

.ea-balance-profile-actions-gauge-curve-color {
  color: #15686f;
  stroke: rgba(0, 0, 0, 0.16);
}

.ea-balance-profile-actions-gauge-curve-breaker-color {
  stroke: rgba(0, 0, 0, 0.5);
}

.ea-balance-profile-target-marker-color {
  stroke: #15686f;
}

.ea-balance-profile-target-marker-border-color {
  stroke: #252900;
}

.ea-balance-profile-target-marker-label-color {
  color: #5e6600;
}

.ea-balance-profile-target-marker-label-highlight-color {
  color: #214639;
}

.ea-balance-profile-label-not-running {
  color: #252900;
}


.ea-history-navigation-border-color {
  border-bottom: 1px solid #131400;
}

.ea-history-navigation-button {
  color: #252900;
  background: #0b0b07;
}

.ea-history-navigation-button-active {
  font-weight: bold;
  color: #5e6600;
  background-color: #0b0b07;
}

.ea-emission-amount {
  color: #5e6600;
}

.ea-emission-unit {
  color: #252900;
}

.ea-emission-type {
  color: #252900;
}

.ea-emission-index {
  fill: #252900;
}

.ea-history-report-title-color {
  color: #5e6600;
}

.ea-history-report-itemtitle-color {
  color: #252900;
}

.ea-history-report-item-value-color {
  color: #5e6600;
}

.ea-history-title-date-color {
  color: #252900;
}

.ea-history-report-subtitle-color {
  color: #252900;
}

.ea-history-report-subtitle-color-2 {
  color: #5e6600;
}

.ea-history-report-top-item-border {
  border-right: 1px solid #252900;
}

.ea-history-report-top-container-border {
  border-bottom: 1px solid #252900;
}

.history-report-suggested-actions-item {
  background: #0b0b07;
  border: 1.5px solid #252900;
}

.history-report-suggested-actions-item-name {
  color: #5e6600;
}

.history-report-suggested-actions-item-advice {
  color: #5e6600;
}

.history-report-suggested-actions-followed-icon {
  background: #0d5037;
  fill: #151719;
}

.history-report-suggested-actions-item-icon {
  fill: #252900;
}

.history-report-suggested-actions-not-followed-icon {
  background: #6e3e00;
  fill: #151719;
}

.ea-history-report-save-animation-item-color {
  background: #0d5037;
  color: #050505;
}

.ea-history-gauge-saving-potential-label-color {
  color: #5e6600;
}

.ea-history-gauge-saving-potential-unit-color {
  color: #252900;
}

.ea-history-gauge-saving-potential-value-color {
  color: #5e6600;
}

.ea-history-gauge-total-savings-unit-color {
  color: #252900;
}

.ea-history-gauge-total-savings-label-color {
  color: #5e6600;
}

.ea-history-gauge-completed-percent-color {
  color: #0d5037;
}

.ea-history-gauge-completed-actions-color {
  color: #15686f;
}

.ea-history-gauge-percent-circle-color {
  stroke: #000000;
}

.ea-history-gauge-circle-border-color {
  stroke: #131400;
}

.ea-history-gauge-inset-shadow-color {
  flood-color: rgba(0, 0, 0, 0.5);
}

.ea-history-gauge-actions-circle-color {
  stroke: #000000;
}

.ea-history-gauge-content-circle-color {
  color: #0b0b07;
}

.ea-history-gauge-percent-curve-color {
  stroke: #0d5037;
}

.ea-history-gauge-actions-curve-color {
  stroke: #15686f;
}
.ea-history-gauge-completed-percent-color {
  color: #0d5037;
}

.ea-history-gauge-completed-actions-color {
  color: #15686f;
}

.ea-history-title-date {
  color: #252900;
}
.ea-history-report-bottom-left-item-savings-in-dp-operation {
  border-top: 1px solid #252900;
}

.ea-history-report-savings-in-dp-operation-item-style {
  border: 1.5px solid #252900;
  background-color: transparent;
}

.ea-history-report-savings-in-dp-operation-item-title {
  color: #252900;
}

.ea-history-report-savings-in-dp-operation-hours-item-text {
  color: #252900;
}

.ea-history-report-savings-in-dp-operation-item-icon-hours {
  fill: #252900;
}

.ea-history-report-savings-in-dp-operation-item-icon {
  fill: #252900;
}

.ea-history-report-savings-in-dp-operation-item-value-style {
  color: #0d5037;
}

.ea-history-report-savings-in-dp-operation-item-value-style-negative {
  color: #6e3e00;
}

.ea-history-report-savings-in-dp-operation-item-unit {
  color: #5e6600;
}

.ea-history-report-button-color {
  color: #050505;
  background: #5e6600;
  border: 1px solid #252900;
}

.ea-history-report-button-color-disabled {
  color: #252900;
  background-color: transparent;
  border: 1px solid #252900;
  cursor: default ;
}

.ea-history-gauge-completed-percent-negative {
  color: #6e3e00;
}
.ea-saved-reports-container-scrollbar::-webkit-scrollbar-thumb {
  background: #252900;
  opacity: 0.4;
  border-radius: 4px;
  max-height: 80px;
}

.ea-saved-reports-container-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5e6600;
}

.ea-saved-reports-text-color-thin {
  color: #252900;
}

.ea-saved-reports-text-color-thick {
  color: #5e6600;
}

.ea-saved-reports-textbox-style {
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  border-radius: 2px;
  color: #5e6600;
  outline: 0;
}

.ea-saved-reports-textbox-style::placeholder {
  color: #252900;
}

.ea-saved-reports-search-svg-color {
  fill: #252900;
}

.ea-saved-report-list-dots {
  fill: #252900;
}

.ea-saved-reports-list-type-color {
  color: #252900;
}

.ea-saved-reports-list-project-name-color {
  color: #5e6600;
}

.ea-saved-reports-bottom-border {
  border-bottom: 1px solid #252900;
}

.ea-saved-report-list-popup-color {
  background-color: #0b0b07;
  color: #5e6600;
}

.ea-saved-report-list-popup-item-border {
  border-top: 1px solid #000000;
}

.ea-history-project-name-button {
  background: #050505;
}

.ea-history-project-name-label,
.ea-history-notes-to-advice-label {
  color: #5e6600;
}

.ea-history-project-name-dropdown-arrow,
.ea-history-notes-to-advice-dropdown-arrow {
  color: #232418;
}

.ea-history-report-button-text-added-circle {
  fill: #186f77;
}

.ea-history-report-dropdown-arrow-color {
  fill: #5e6600;
}

.ea-history-report-button-label-color {
  color: #252900;
}

.ea-popup-overlay {
  background-color: #000000;
}

.ea-popup-content {
  background-color: #0b0b07;
}

.ea-popup-label {
  color: #5e6600;
}

.ea-popup {
  border: 1px solid #222427;
  color: #252900;
  background-color: #050505;
}

#ea-notes-will-be-saved-label {
  color: #5e6600;
}

.ea-project-name-button {
  background: #5e6600;
  border: 1px solid #5e6600;
  color: #050505;
}

.ea-popup-button:hover,
.ea-project-name-button:hover {
  background-color: #186f77;
}

.ea-history-report-button-style {
  background: #0b0b07;
  border: 1px solid #252900;
  box-sizing: border-box;
  border-radius: 2px;
}

.hideSVG {
  fill: #5e6600;
}

.ea-history-navigation-container .vessel-info-container .vessel-name {
  color: #5e6600;
}

.ea-history-navigation-container .vessel-info-container .vessel-image svg path {
  fill: #252900;
}

.ea-history-navigation-container .vessel-info-container .vessel-info-items > div:nth-child(odd) {
  color: #5e6600;
}

.ea-history-navigation-container .vessel-info-container .vessel-info-items > div:nth-child(even) {
  color: #252900;
}

.ea-operation-notes-overlay-color {
  background-color: #000000;
}

.ea-operation-notes-label-color {
  color: #5e6600;
}

.ea-operation-notes-container-color {
  background: #0b0b07;
}

.ea-operation-notes-item-color {
  color: #5e6600;
}

.ea-operation-notes-save-button-color {
  color: #050505;
  background: #5e6600;
  border: 1px solid #252900;
}

.ea-history-operation-notes-not-added-circle-color {
  stroke: #000000;
}

.ea-operation-notes-button-text {
  border: 1px solid #000000;
}

.ea-history-operation-notes-added-circle-color {
  fill: #0d5037;
}

.ea-operation-notes-button-text-color {
  color: #5e6600;
}

.ea-operation-notes-button-arrow-color {
  color: #5e6600;
}

.ea-operation-notes-list-scrollbar::-webkit-scrollbar-thumb {
  background: #252900;
  opacity: 0.4;
  border-radius: 4px;
  max-height: 80px;
}

.ea-operation-notes-list-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5e6600;
}

.ea-timeline-filter-label-style {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #5e6600;
}

.ea-timeline-filter-input-style {
  background-color: #050505;
  font-size: 14px;
  color: #252900;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.ea-timeline-selector-title-text {
  margin-left: 24px;
  color: #5e6600;
}

.ea-timeline-report-saving-color {
  border: 3px solid #15686f;
  background: #0b0b07;
}

.ea-timeline-report-savings-title {
  text-transform: uppercase;
  margin-top: 28px;
  margin-left: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #5e6600;
}

.ea-timeline-report-title-color {
  color: #5e6600;
}

.ea-timeline-report-title-date-color {
  color: #252900;
}

.ea-timeline-report-subtitle-color {
  color: #15686f;
}

.ea-timeline-report-item-value-color-2 {
  font-weight: 700;
  color: #15686f;
}

.ea-timeline-report-itemtitle-color {
  color: #252900;
}

.ea-timeline-report-item-value-color {
  color: #5e6600;
}

.ea-timeline-report-top-item-border {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.ea-timeline-report-top-container-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.ea-timeline-report-saving-large-text {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #252900;
}

.ea-timeline-report-saving-large-value {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  color: #15686f;
}

.ea-timeline-report-saving-unit-color {
  color: #15686f;
}

.ea-timeline-report-saving-unit-color-negative {
  color: #6e3e00;
}

.ea-timeline-report-saving-small-svg {
  width: 49px;
  height: 29px;
  fill: #252900;
  margin-top: 32px;
}

.ea-timeline-report-saving-small-value {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 64px;
  color: #15686f;
}

.ea-timeline-selector-arrow-up-color {
  border-bottom: 5px solid #5e6600;
}

.ea-timeline-selector-arrow-down-color {
  border-top: 5px solid #5e6600;
}

.ea-timeline-report-saving-droplet {
  fill: #252900;
  width: 114px;
  height: 114px;
  margin-top: 70px;
}

.ea-timeline-report-button-color {
  color: #050505;
  background: #5e6600;
  border: 1px solid #252900;
}

.ea-timeline-report-button-color-disabled {
  color: #252900;
  background-color: transparent;
  border: 1px solid #252900;
}

.ea-datetime-picker-input-color {
  color: #15686f;
  background: #050505;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.ea-datetime-picker-arrow-down-color {
  border-top: 5px solid #5e6600;
}

.ea-datetime-picker-text-color-light {
  color: #252900;
}

.ea-datetime-picker-text-color {
  color: #5e6600;
}

.ea-datetime-picker-selected-date {
  background: #252900;
}

.ea-datetime-picker-current-date {
  border-radius: 18px;
  border: 1px solid #15686f;
}

.ea-datetime-picker-background {
  background: #050505;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.204791);
}

.ea-datetime-picker-day-name-background {
  background: #252900;
}

.ea-datetime-picker-month-container-background {
  background: #0b0b07;
}

.ea-datetime-picker-arrow-style {
  border: solid #5e6600;
}

.ea-datetime-picker-button-style {
  color: #5e6600;
  background: #252900;
  box-sizing: border-box;
}

.ea-datetime-picker-button-border-selected {
  border: 1px solid #5e6600;
}

.ea-datetime-picker-button-border-unselected {
  border: 1px solid #252900;
}

.ea-dateime-picker-month-label-style {
  color: #5e6600;
}

.ea-datetime-picker-time-separator-dot-color {
  border: 5px solid #252900;
}

.ea-number-scroll-input-color {
  color: #5e6600;
  background: #252900;
}

.ea-number-scroll-arrow-style {
  border: solid #5e6600;
}

.ea-timeline-report-text-added-circle {
  fill: #15686f;
}

.ea-timeline-report-button-style {
  background: #050505;
  border: 1px solid #252900;
  box-sizing: border-box;
  border-radius: 2px;
}

.ea-timeline-report-dropdown-arrow-color {
  fill: #5e6600;
}

.ea-timeline-report-button-label-color {
  color: #252900;
}

.ea-timeline-report-save-animation-item-color {
  background: #0d5037;
  color: #050505;
}

.ea-saved-report-clear-button-color {
  background: #060606;
  border: 1px solid #252900;
  color: #5e6600;
}

.ea-saved-report-filter-type-style {
  background-color: #050505;
  font-size: 14px;
  color: #252900;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.ea-savings-in-dp-operation-negative {
  color: #6e3e00;
}

.kx-modal__header,
.kx-modal__body {
  color: #5e6600;
}

.kx-modal__dialog {
  background-color: #0b0b07;
}

.kx-modal__dialog button {
  color: #050505;
  background: #5e6600;
  border: 1px solid #252900;
  border-right-color: #252900 ;
}
.kx-modal__dialog button:hover {
  color: #050505;
  background: #5e6600;
  border: 1px solid #252900;
  border-right-color: #252900 ;
}

.kx-modal__backdrop {
  background-color: black;
  opacity: 0.5;
}

.ea-vec-input-group {
  border-color: #1c1f24 ;
}

.ea-vec-input-group-heading {
  color: #1d2001;
}

.ea-vec-input-group-subheading {
  color: #1d2001;
}

.ea-vec-select {
  color: #5e6600;
  background: #050505;
  border-color: #050505 ;
}

.ea-vec-vessel-min-max-speed-value {
  color: #1d2001;
}

.ea-vec-vessel-min-max-speed-label {
  color: #1d2001;
}

.ea-vec-speed-input-group-content .ngx-slider .ngx-slider-bar {
  background: #1c1f24;
}

.ea-vec-speed-input-group-content .ngx-slider .ngx-slider-selection {
  background: #5e6600;
  border: 1px solid #15686f;
}

.ea-vec-speed-input-group-content .ngx-slider .ngx-slider-pointer {
  background-color: #252900;
}

.ea-vec-speed-input-group-content .ngx-slider .ngx-slider-bubble {
  color: #5e6600;
}

.ea-vec-etd-eta-datetime-picker .ea-datetime-picker-input-color {
  color: #5e6600;
  background: #050505;
}

.ea-vec-etd-eta-datetime-picker .ea-datetime-picker-arrow-down-color {
  border-top-color: #1d2001 ;
}

.ea-vec-input-panel-button-primary {
  color: #1c1f24;
  background: #5e6600;
  border-color: #1c1f24 ;
}

.ea-vec-input-panel-button-secondary {
  color: #5e6600;
  background: transparent;
  border-color: #5e6600 ;
}

.ea-vec-input-panel-button-disabled {
  color: #5e6600;
  background: transparent;
  border-color: #5e6600 ;
}

.ea-vec-voyage-options-container {
  border-color: #1d2001 ;
}

.ea-vec-results-panel-heading {
  color: #1d2001;
}

.ea-vec-results-panel-inputs-label-style {
  color: #252900;
}

.ea-vec-results-panel-inputs-value-style {
  color: #5E6600;
}

.ea-vec-voyage-options-axis-label {
  color: #5e6600;
  border-color: #252900 ;
}

.ea-vec-voyage-options-etd-axis-label,
.ea-vec-voyage-options-eta-axis-label {
  border-bottom: 1px solid #1d2001 ;
}

.ea-vec-voyage-options-table td {
  background-color: #0b0b07;
  color: #5e6600;
}

.ea-vec-voyage-options-axis-labels td,
.ea-vec-voyage-options-table-etd-labels td,
.ea-vec-voyage-options-table-eta-label {
  color: #1d2001 ;
}

.ea-vec-voyage-options-table .ea-vec-voyage-option-unavailable {
  color: #1d2001;
  background-color: rgba(28, 31, 36, 0.25);
}

.ea-vec-voyage-option-selected {
  background: #252900 ;
}

.ea-vec-loading-overlay-window {
  background: #0B0B07;
  color: #5e6600;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.32);
}

.ea-vec-loading-overlay-window-top-container {
  border-bottom: 1px solid #1d2024;
}

.ea-vec-loading-overlay-cancel {
  color: #1C1F24;
  background: #5E6600;
}

.ea-loading-indicator circle {
  stroke: #16686f;
}

.ea-vec-no-results-window {
  color: #5e6600;
  background: #1d2024;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.32);
}

.ea-vec-no-results-window-mid-container {
  background: #0B0B07;
}

.ea-conditions-reasons-for-advice-button {
  background-color: #0b0b07;
}

.ea-conditions-reasons-for-advice-button svg path {
  fill: #252900;
}

.ea-conditions-reasons-for-advice-text {
  color: #5e6600;
  background-color: #050505;
}
.ea-system-health-icon-color {
  border-color: transparent transparent #6D5900 transparent;
}

.ea-system-health-icon-border {
  border-color: transparent transparent #6D5900 transparent;
}

.ea-system-health-icon-text-color {
  color: #000000;
}

.ea-system-health-icon-arrow {
  border-color: #252900 transparent transparent transparent;
}

.ea-system-health-count-color {
  color: #5e6600;
}

.ea-top-bar-element-right-separator-color {
  border-left: 1px solid #131400;
}

.ea-system-health-window-style {
  background: #111314;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.32);
  border-radius: 8px;
}

.ea-system-health-window-top-style {
  background-color: #0b0b07;
  border-bottom: 1px solid #1d2024;
}

.ea-system-health-window-content-style {
  background: #111314;
}

.ea-system-health-window-content-style::-webkit-scrollbar-thumb {
  background: #252900;
  opacity: 0.4;
  border-radius: 4px;
  max-height: 80px;
}

.ea-system-health-window-content-style::-webkit-scrollbar-thumb:hover {
  background: #5e6600;
}

.ea-system-health-window-title-style {
  color: #5e6600;
}

.ea-system-health-data-style {
  color: #5e6600;
}

.ea-balance-profile-main-header {
  color: #5e6600;
}

.ea-efficiency-header-color {
  color: #5e6600;
}

.ea-redundancy-level-header-color {
  color: #5e6600;
}

.ea-efficiency-text-color {
  color: #252900;
}

.ea-redundancy-level-text-color {
  color: #252900;
}

.ea-efficiency-value-color {
  color: #5e6600;
}

.ea-efficiency-no-advice-color {
  color: #373C41 ;
}

.ea-redundancy-level-value-color {
  color: #5e6600;
}

.ea-redundancy-level-no-advice-color {
  color: #373C41 ;
}

.ea-efficiency-slider-gauge .ea-slider-gauge-linear-colored-style {
  background: linear-gradient(90deg, #102224 16.67%, #15331E 80.21%);
}

.ea-redundancy-level-slider-gauge .ea-slider-gauge-linear-colored-style {
  background: linear-gradient(270deg, rgba(242, 157, 46, 0.4) -58.93%, rgba(97, 231, 134, 0.4) 100%);
}

.ea-slider-gauge-linear-value {
  background: #151719;
}

.ea-slider-gauge-linear-warning .ea-slider-gauge-linear-value {
  background: linear-gradient(270deg, rgba(242, 157, 46, 0.4) -58.93%, rgba(0, 56, 64, 0) 100%) ;
}

.ea-slider-gauge-linear-dot {
  background: #264d2e;
}

.ea-slider-gauge-linear-warning {
  background: #151719 ;
}

.ea-slider-gauge-linear-greyed-out {
  background: #333333;
}

.ea-slider-gauge-linear-greyed-out .ea-slider-gauge-linear-dot {
  background: #050505; 
}

.ea-vec-details-energy-percentage-label {
  color: #1d2001;
  background: #050505;
}

.ea-vec-details-energy-percentage-value {
  color: #5e6600;
  background: #252900;
}

.ea-vec-voyage-power-chart {
  border: 1px solid #000000;
  background: #0b0b07;
}

.ea-vec-voyage-power-chart .c3-axis .tick {
  color: #5e6600;
}

.ea-vec-voyage-power-chart .c3-line-total-power {
  stroke: #15686f ;
}

.ea-vec-voyage-power-chart .c3-line-calm-water-power {
  stroke: #5e6600 ;
}

.ea-vec-voyage-power-chart .c3-circles-total-power .c3-circle._expanded_ {
  fill: #5e6600;
}

.ea-vec-voyage-power-chart .c3-grid line {
  stroke: #1d2001;
}

.ea-vec-voyage-power-touch-bar-line {
  background-color: #1d2001;
}

.ea-vec-voyage-power-touch-bar-selected-segment-area {
  background-color: rgba(21, 104, 111, 0.25);
}

.ea-vec-voyage-power-touch-bar-circle {
  background-color: #15686f;
}

.ea-vec-voyage-power-legend-label {
  color: #1d2001;
}

.ea-vec-power-details-label {
  color: #5e6600;
}

.ea-vec-power-details-value {
  color: #5e6600;
}

.ea-ship-circle-icon-circle #circle {
  fill: #000000;
  stroke: #15686f;
}

.ea-ship-circle-icon-circle #arrow-north {
  fill: #15686f;
}

.ea-ship-circle-icon-ship {
  fill: #1d2001;
}

.ea-ship-circle-icon-current {
  fill: #15686f;
}

.ea-ship-circle-icon-wind {
  fill: #15686f;
}

.ea-vec-voyage-power-legend-label svg line {
  stroke: #1d2001 ;
}

.ea-vec-voyage-option-details-container {
  color: #1d2001;
}

.ea-vec-details-value-positive {
  color: #6e3e00;
}

.ea-vec-details-value-negative {
  color: #15686f;
}

.ea-map-container-vec .leaflet-pane svg path {
  fill: #4d6059;
}

.leaflet-container {
  background-color: #24282b;
}

.ea-vec-map-polyline { 
  stroke: #15686F ; 
}

.ea-single-line-main-engine-consumer-bus-line-disconnected-color {
  border-right-color: #373C41;
}

.ea-single-line-main-engine-consumer-bus-line-connected-color {
  border-right-color: #0d5037 ;
}

.ea-single-line-main-engine-consumer-line-disconnected-color {
  border-right-color: #373C41;
}

.ea-single-line-main-engine-consumer-line-connected-color {
  border-right-color: #0d5037 ;
}

.ea-single-line-main-engine-consumer-clutch-line-disconnected-color {
  border-top-color: #373C41;
}

.ea-single-line-main-engine-consumer-clutch-line-connected-color {
  border-top-color: #0d5037 ;
}

.ea-single-line-main-engine-generator-clutch-line-disconnected-color {
  border-left-color: #373C41;
}

.ea-single-line-main-engine-generator-clutch-line-connected-color {
  border-left-color: #45be8f ;
}

.ea-no-connection-header-style {
  background: #0B0B07;
  color: #5E6600;
}

.ea-no-connection-body-style {
  background: #111314;
  color: #5E6600;
}

.ea-no-connection-footer-style {
  background: #0B0B07;
  color: #5E6600;
}

.ea-number-picker-input {
  outline: 0px;
  background: #050505;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  color: #5E6600;
}

.ea-number-picker-editor {
  background: #050505;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.204791);
  border-radius: 4px;
}

.ea-number-picker-button-style {
  border-radius: 4px;
  border-color: transparent;
  background: #0b0b07;
  color: #5e6600;
}

.ea-number-picker-input-invalid {
  outline: 2px;
  outline-color: #330000;
  outline-style: solid;
}

.ea-simulation-page {
  background: #050505;
}

.ea-simulation-title {
  color: #5e6600;
}

.ea-simulation-subtitle {
  color: #5e6600;
}

.ea-simulation-input-item-title {
  color: #252900;
}

.ea-simulation-input-item-title-error {
  color: darkred ;
}

.ea-simulation-unit {
  color: #5e6600;
  margin-left: 3px;
  text-transform: none;
}

.ea-simulation-input-item-select {
  background: #050505;
  color: #5E6600;
  border: 1px solid rgba(0, 0, 0, 0.16);
  outline: 0px;
}

.ea-input-invalid {
  outline: 2px;
  outline-color: #330000;
  outline-style: solid;
}

.ea-simulation-input-button-enabled {
  background: #5E6600;
  color: #050505;
}

.ea-simulation-input-button-disabled {
  background: transparent;
  color: #252900;
  border: 1px solid #252900;
}

.ea-simulation-summary-info-container {
  border-bottom: 1px solid #252900;
}

.ea-simulation-summary-circle-container {
  border-bottom: 1px solid #252900;
}

.ea-simulation-summary-info-title {
  color: #5E6600;
}

.ea-simulation-summary-info-label {
  color: #252900;
}

.ea-simulation-summary-info-value {
  color: #5E6600;
}

.ea-simulation-summary-speed-label {
  color: #252900;
}

.ea-simulation-summary-map .leaflet-pane svg path {
  fill: #4d6059;
}

.ea-simulation-results-navigation-button {
  color: #252900;
  background: #050505;
  box-shadow: 2px 2px 8px rgb(0 8 20 / 16%);
}

.ea-simulation-results-item-grid-box-value {
  color: #0D5037;
}

.ea-simulation-results-item-grid-box-unit {
  color: #5E6600;
}

.ea-simulation-results-navigation-button-active {
  color: #5E6600;
  background-color: #000000;
}

.ea-simulation-results-item-conatiner-title {
  color: #5E6600;
}

.ea-simulation-results-item-grid-box {
  border: 1.5px solid #252900;
}

.ea-simulation-results-item-grid-box-icon, .ea-simulation-results-item-grid-box-text-icon {
  fill: #252900;
}

.ea-simulation-results-item-grid-box-large {
  border: 1.5px solid #252900;
}

.ea-simulation-results-item-grid-box-title {
  color: #5E6600;
}

.ea-fuel-consumption-chart-container {
  color: #5e6600 ;
}

.ea-fuel-consumption-chart-period-dropdown-style {
  background-color: #050505;
  color: #252900;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.ea-fuel-consumption-chart-content .c3-line-potential {
  stroke: #15686f ;
}

.ea-fuel-consumption-chart-content .c3-legend-item-potential .c3-legend-item-tile {
  stroke: #15686f ;
}

.ea-fuel-consumption-chart-content .c3-line-actual {
  stroke: #0d5037 ;
}

.ea-fuel-consumption-chart-content .c3-legend-item-actual .c3-legend-item-tile {
  stroke: #0d5037 ;
}

.ea-fuel-consumption-chart-content .c3-legend-background {
  opacity: 0;
  stroke-width: 1;
}

.ea-popup-button,
.ea-history-report-input-submit-button-color {
  color: #050505;
  background: #5e6600;
  border: 1px solid #252900;
}

.ea-history-report-input-submit-button-color-disabled {
  color: #252900;
  background-color: transparent;
  border: 1px solid #252900;
  cursor: default ;
}

.ea-popup-close-button-color {
  color: #050505;
  background: #5e6600;
}

.ea-show-popup-button-color {
  border: 2px solid #2f3300;
  color: #2f3300;
}

.ea-current-savings-percentage-label, .ea-current-savings-vertical-line {
  color: #5e6600;
}

.ea-build-versions-value {
  color: #5e6600;
}

.ea-popup::-webkit-scrollbar-thumb {
  background: #252900;
  opacity: 0.4;
  border-radius: 4px;
}

.ea-popup::-webkit-scrollbar-thumb:hover {
  background: #5e6600;
}

.ea-single-line-v2-crossover-connected {
  fill: none;
  stroke: #5E6600;
}

.ea-single-line-v2-crossover-disconnected {
  fill: none;
  stroke: #373C41;
}


.ea-single-line-v2-hv-breaker-active {
  stroke: #5E6600;
  fill: #5E6600;
}

.ea-single-line-v2-hv-breaker-inactive {
  stroke: #373C41;
  fill: #373C41;
}

.ea-single-line-v2-hv-breaker-circle-active {
  fill: none;
  stroke: #5E6600;
}

.ea-single-line-v2-hv-breaker-circle-inactive {
  fill: none;
  stroke: #373C41;
}

.ea-single-line-v2-hv-breaker-circle-advice {
  fill: none;
  stroke: #15686F ;
}

.ea-single-line-v2-hv-breaker-is-operator-action {
  fill: none;
  stroke: #6D5900;
}

.ea-single-line-v2-item-inner-circle-active {
  fill: #0B0B07;
  stroke: #5E6600;
}

.ea-single-line-v2-item-inner-circle-inactive {
  fill: #0B0B07;
  stroke: #373C41;
}

.ea-single-line-v2-item-has-advice {
  fill: #0B0B07;
  stroke: #15686F ;
}

.ea-single-line-v2-item-savings-color {
  stroke: #5E6600;
}

.ea-single-line-v2-item-losses-container-color {
  fill: #1D2024;
}

.ea-single-line-v2-item-losses-color {
  stroke: #6E3E00;
}

.ea-single-line-v2-item-hotel-load-deviation-color {
  stroke: #6D5900;
}

.ea-single-line-v2-item-hotel-load-deviation-line-color {
  stroke: #5E6600;
}

.ea-single-line-v2-item-icon-stroke-active {
  stroke: #5E6600;
}

.ea-single-line-v2-item-icon-stroke-inactive {
  stroke: #373C41;
}

.ea-single-line-v2-item-icon-fill-active {
  fill: #5E6600;
}

.ea-single-line-v2-item-icon-fill-inactive {
  fill: #373C41;
}

.ea-single-line-v2-item-is-operator-action {
  fill: #0B0B07;
  stroke: #F08800;
}

.ea-single-line-v2-label-color {
  fill: #5E6600;
}

.ea-single-line-v2-line-connected-color {
  stroke: #5E6600;
}

.ea-single-line-v2-line-disconnected-color {
  stroke: #373C41;
}

.ea-data-quality-warning-color {
  fill: #6D5900;
  stroke: #6D5900;
}
